.aboutMe {
  &Container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 15px;
    justify-content: center;
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    > img  {
      box-shadow: 2px 1px rgba(0,0,0,0.5);
      background: white;
      padding: 10px 10px 50px 10px;
      margin: auto;
    }
  }
  &-text {
    height: 100%;
    line-height: 50px;
    > span {
      background: #A0DDFF;
      margin-right: 7px;
      color: darkblue;
      padding: 4px 7px;
      border-radius: 20px;
      box-shadow: 1px 1px rgba(0,0,0,0.5);
    }
    &-greetings {
      color: $primBg;
      font-size: 12vh;
      font-family: 'Dancing Script', cursive;
      text-shadow: 3px 5px $seconBg;
      letter-spacing: 2px; 
    }
  }
}