.homePage {
	height: 100%;
	scroll-behavior: smooth;
	&Container {
		justify-content: center;
		max-width: 1200px;
		margin: auto;
		padding: 0 15px;
	}
	&-bar {
		text-align:center;
		padding: 25px;
	}
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



