.footer {
  &Container {
    
  }
  &-iconContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    > img {
      border: 1px solid;
      border-radius: 25%;
      width: 5vh;
      height: 5vh;
      padding: 10px;
      margin: 10px;
      &:hover {
        box-shadow: 0 5px 4px  rgba(0,0,0,0.5);
        transform: translate(0, -10px);
        cursor: pointer;
      }
    }
  }
}
//hover over the icons background change
#fb {
  &:hover {
    background: #4267B2;
  }
}

#insta {
  &:hover {
    background: linear-gradient(0.45turn, #C13584,#F56040, #833AB4, #FD1D1D);
  }
}

#linked {
  &:hover {
    background: #2867B2;;
  }
}